<!DOCTYPE html>
<html>

<head>
    <title>Bug de Tag</title>
    <style>
        .titulo {
            font-size: 24px;
            color: red;
            background-color: blue;
            padding: 10px;
            border: 1px solid black;
        }
    </style>
</head>

<body>
    <h1 class="titulo">Página com Bug de Estrutura</h1>

    <p>Este é o primeiro parágrafo. </p>
    <div id="status">Verificando JS...</div>
    <script src="script.js"></script>
</body>

</html>